<%= render "layouts/header" %>

<div class="container-fluid title-contents">
  <div class="top-page-image">
    <h2 class="image-title">事業を効率よく、より良いものに</h2>
    <p class="image-title">Business Assistは補助金・助成金・制度融資に関するお悩みに答えるサービスです
  </div>
</div>

<div class="container">
  <h5 class="article-title">＜補助金・助成金・制度融資を探す＞</h5>
<%#= render "shared/search" %>
</div>

<div class="container">
  <h5 class="article-title">＜新着記事一覧＞</h5>
<%#= render "articles/article" %>
</div>

<%#= render "layouts/footer" %>
