<div class="container-fluid title-contents">
  <div class="top-page-image">
    <h2 class="image-title">Welcome to Business-Assist!</h2>
    <p class="image-title">Business-Assistは補助金・助成金・制度融資に関するお悩みに答えるサービスです
  </div>
</div>

<div class="container">
  <h5 class="article-title"><i class="fas fa-search-dollar fa-2x my-orange"></i>　補助金・助成金・制度融資を探す</h5>
    <div class="row justify-content-center">
      <%= render "layouts/search" %>
    </div>
</div>

<div class="container">
  <h5 class="article-title"><i class="fas fa-newspaper fa-2x my-orange"></i>　新着記事一覧</h5>
    <div class="row">
      <%= render "articles/article" %> 
    </div>
</div>

<div class="container">
  <h5 class="article-title"><i class="fas fa-trophy fa-2x my-orange"></i>　人気記事一覧</h5>
    <div class="row">
      <%= render "articles/ranking_article" %>
    </div>
</div>