.search-wrapper {
  width: 600px;
}

.search-content {
  margin-bottom: 20px;
}

.radio-btn {
  float: right;
}

.search-select-box {
  width: 200px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.search-form-control {
  width: 200px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.search-btn {
  width: 300px;
  margin-top: 10px;
}