.articles-chart {
  height: 45vh;
  margin: 10px 0 ;
}

.card-img-top {
  width: 100%;
  height: 20vh;
}

.article-link {
  text-decoration: none !important;
  color: black;
}

.article-link:hover {
  text-decoration: none !important;
  color: black;
}