.articles-chart {
  height: 45vh;
  margin: 10px 0 ;
  transition: all .4s ease-in-out;
}

.articles-chart:hover {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5)
}

.card-img-top {
  width: 100%;
  height: 20vh;
}

.article-link {
  text-decoration: none !important;
  color: black;
}

.article-link:hover {
  text-decoration: none !important;
  color: black;
}

.pagination {
  justify-content: center;
}

.paginate {
  margin-top: 70px;
}

.fa-crown {
  color: #ffd700;
}