.map-content {
  text-align: center;
  margin-top: 10vh;
  line-height: 50px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
} 

.search-form {
  margin-top: 10vh;
  text-align: center;
  margin-left: 10vw;
}

.search-name {
  width: 20vw;
}