// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-btn {
  float: right;
  margin-right: 20px;
}

.comments-chart {
  text-align: center;
  margin-top: 10vh;
}

.comment-content {
  width: 50vw;
  float: right;
  margin-right: 20px;
}

.card-header {
  height: 40px;
}

.mb-0 {
  font-size: 14px;
  color: orange;
}